@import '@/styles/common/colors.scss';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 3% 0px;
  min-height: 100%;
  background-color: #2e2e2e;
}

.start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
  max-width: $max-width;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    min-width: 560px;
    padding: 3vw;
    color: $white;
    
    h1 {
      font-size: 3rem;
      font-weight: 800;
      color: $white;
      line-height: 1.2;
  
      span {
        background-image: linear-gradient(160deg, $color1 50%, #b8d4ba);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      max-width: 500px;
      font-size: 1.3rem;
    }
  }

  .profilePictureContainer {
    margin: 0 auto;
    width: 100%;
    width: 30vw;
    max-width: 450px;
    height: 30vw;
    max-height: 400px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.459), transparent);
    border-radius: 80% 20% 32% 68% / 58% 22% 70% 42%;
    border: 2px solid $color2;
    box-shadow: 1px 2px 7px $white;
  }

  .profilePicture {
    display: block;
    width: 30vw;
    max-width: 450px;
    height: 30vw;
    max-height: 450px;
    margin: 20px auto 0px;
    border-radius: 0px 0px 40px 40px;
    filter: drop-shadow(0px 20px 40px rgba($color: $color2, $alpha: 0.3));
    transition: filter 1s ease-out;

    &:hover {
      filter: drop-shadow(0px 20px 40px rgba($color: $color2, $alpha: 0.8));
    }
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0px 60px;
  width: 100%;
  max-width: $max-width;


  .servicesInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 98%;
    min-height: 100px;
    color: $white;

    div {
      flex: 1.7;
      max-width: 700px;

      p {
        font-weight: 500;
        color: $color1;
      }

      h2 {
        font-size: 2.5rem;
        max-width: 500px;
      }
    }

    span {
      display: inline-block;
      width: 5px;
      height: auto;
      min-height: 120px;
      background-color: $color1;
      border-radius: 5px;
    }

    p {
      flex: 2;
      line-height: 2;
      max-width: 600px;
    }
  }

  .servicesCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 98%;
  max-width: $max-width;
  padding: 0px 60px;
  color: $white;

  h2 {
    font-size: 2rem;
  }
}

.budget {
  position: relative;
  width: 100%;

  video {
    width: 100%;
    min-height: 300px;
    max-height: 350px;
    object-fit: cover;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    color: $white;
    transform: translate(-50%, -50%);

    .budgetTitle {
      font-size: 3rem;
      font-weight: bold;
      text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
    }

    .budgetDescription {
      font-size: 1.2rem;
      font-weight: 600;
    }

    a {
      display: inline-block;
      min-width: 140px;
      margin-top: 10px;
      padding: 15px 30px;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: $white;
      background-color: $color3;
      border: 2px solid $color3;
      border-radius: 5px;
      transition: all 0.2s ease-in;
  
      &:hover {
        background-color: transparent;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .start {
    flex-direction: column;
    padding: 0px;

    .profilePictureContainer, .profilePicture {
      width: 60vw;
      height: 60vw;
    }
  }

  .services {
    .servicesInfos {
      flex-direction: column;

      div {
        h2 {
          max-width: unset;
        }
      }

      span {
        display: none;
      }

      p {
        max-width: unset;
      }
    }
  }
}

@media only screen and (max-width: 715px) {
  .start > .header {
    min-width: 500px;

    h1 {
      font-size: 2.5rem;
    }
  }
  
  .services {
    padding: 0px 10px;

    .servicesCardsContainer {
      justify-content: center;
    }
  }

  .projects {
    padding: 0px;
  }

  .budget > div {
    .budgetTitle {
      font-size: 2.1rem;
    }

    .budgetDescription {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home, .services {
    padding: 0px 10px;
  }

  .start {
    padding: 0px;

    .header {
      width: 100%;
      min-width: unset;
      padding: 10px;

      h1 {
        font-size: 2rem;
      }
    }
  }

  .projects {
    h2 {
      font-size: 1.5rem;
    }
  }

  .services {
    .servicesInfos {
      gap: 10px;
      div h2 {
        font-size: 1.7rem;
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .start .header {
    h1 {
      font-size: 1.7rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

//animacoes do header
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

.header {
  --d: 5500ms;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: transparent;

  font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 450deg;
	}
}