@import '@/styles/common/colors.scss';

.project {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  gap: 40px;
  padding: 0px 20px;
}

.photosSlide {
  flex: 2;

  .photoContainer {
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: $white;

  .title {
    font-size: 2.2rem;
  }

  .description {
    text-align: justify;
    line-height: 1.8;
  }
}