@import '@/styles/common/colors.scss';

.recomendacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 3% 10px 0px;
  background-color: $color4;
  min-height: 100%;
  background-color: #2e2e2e;
}

.ratings {
  .notebook {
    width: 92vw;
    max-width: 700px;
    min-width: 280px;
    height: 30vw;
    max-height: 420px;
    min-height: 420px;
    padding-top: 5%;
    background: #2e2e2e url("/notebook-shape.png") center center no-repeat scroll;
    background-size: cover;

    .ratingsSlide {
      margin: 0px auto;
      width: 75%;
      min-width: 260px;
      height: 87%;
      padding: 10px 20px;
      color: $white;

      .rating {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        text-align: center;

        .marks {
          width: 75px;
          height: 64px;
        }
        
        p {
          font-size: 0.9rem;
        }

        div {
          .photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 715px) {
  .ratings > .notebook {
    min-height: max(60vw, 200px);

    .ratingsSlide {
      padding: 5px;

      .rating {
        gap: 5px;

        .marks {
          width: 20px;
          height: 17px;
        }

        p {
          font-size: 0.7rem;
        }

        div {
          .photo {
            width: 15px;
            height: 15px;
          }

          p {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}