@import '@/styles/common/colors.scss';
@import './components/common/budget.module.scss';

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  min-height: 100%;
  background-color: #2e2e2e;
}

.title {
  padding: 0px 60px;
  font: normal bold 1.8rem $font1;
  color: $color2;
}

.infoContainer {
  display: flex;
  justify-content: center;
  width: 98%;
  max-width: $max-width;
  margin-bottom: 20px;
  padding: 0px 60px;

  .info {
    width: 100%;
    padding: 10px 20px;
    user-select: none;
    border: 2px solid $color1;
    border-radius: 5px;
    box-shadow: 15px 15px 0px 5px #3DCC7499;
    transition: all 0.2s ease-in;
  
    &:hover {
      transform: scale(1.03) !important;
    }
  
    .title {
      margin-bottom: 20px;
      padding: unset;
    }

    .content {
      font: normal normal 1.1rem $font1;
      line-height: 1.7;
      text-align: justify;
      word-wrap: break-word;
      color: $light-gray;
    }
  
    span {
      color: $color2;
    }
  }
}

//Página de serviço individual
.service {
  padding-top: 0px !important;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .videoContainer {
    @extend .budget;
    height: 70vh !important;
    max-height: unset;

    .serviceTitle {
      @extend .budgetTitle;
    }

    .serviceDescription {
      @extend .budgetDescription;
    }
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, min(310px, 100vw));
    justify-content: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 715px) {

  .infoContainer, .title {
    &, .title {
      padding: 0px 10px;
    }
  }

  .infoContainer {
    max-width: max(95vw, 275px);

    .info {
      box-shadow: 7px 7px 0px 3px #3DCC7499;
    }
  }
}