@import '../../common/colors.scss';

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 20px;
  font-family: $font1;
  z-index: 1;
  color: $color2;
  background-color: #202020;

  h2, h3 {
    font-family: $font2;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    color: $white;
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .social {
    display: flex;
    gap: 10px;

    a {
      display: grid;
      place-content: center;
      width: 50px;
      height: 50px;
      padding: 5px;
      border: 1px solid $color3;
      border-radius: 50%;
      transition: all 0.2s ease;

      svg {
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;
        fill: $color1;
        transition: all 0.2s ease;
      }

      &:hover {
        background-color: $color1;

        svg {
          fill: $white;
        }
      }
    }
  }

  .links {
    div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 50px);
    }

    a {
      font-weight: bold;
      text-decoration: none;
      color: $white;
      transition: all 0.2s ease-in;

      &:hover {
        color: $color1;
      }
    }
  }

  .footerContacts {
    aside {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        width: 25px;
        height: 25px;
        color: $color1;
      }

      p {
        color: $white;
      }
    }
  }
}

.rights {
  padding: 20px 5px;
  font-family: $font1;
  text-align: center;
  color: $white;
  background-color: #202020;
  border-top: 1px solid #2e2e2e;
}

@media only screen and (min-width: 715px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > div {
      max-width: 400px;
    }

    .links > div {
      gap: 0px 20px;
    }
  }
}